#%Module1.0################
##
{% set description = "Description: " ~ about.description %}
module-whatis "Origin: Conda packages"
module-whatis "{{ description }}"

proc ModulesHelp { } {
  {% if 'help' in about and about.help %}
  {% for line in about.help.split('\n') %}
  puts stdout "{{ line }}\n"
  {% endfor %}
  {% endif %}
  puts stdout "\n"
  puts stdout "This software has been deployed by creating a dedicated environment with Conda.\n"
  puts stdout "To list the Conda packages within this environment : conda list"
  puts stdout "\n"
}

{% if instructions is defined %}
{% for line in instructions.split('\n') %}
puts stderr "{{ instructions }}\n"
{% endfor %}
{% endif %}

conflict {{ env("software_alias") }}

{% for module in require|default([]) %}
module load {{module}}
{% endfor %}

prepend-path PATH {{ env("conda_path") }}
{% if 'bin' in env("env_content") %}prepend-path PATH {{ env("env_path") }}/bin{% endif %}
{% if 'lib' in env("env_content") %}prepend-path LD_LIBRARY_PATH {{ env("env_path") }}/lib{% endif %}
{% if 'include' in env("env_content") %}prepend-path CPATH {{ env("env_path") }}/include{% endif %}
